repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-added-large-files

-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.0
    hooks:
      # This hook runs the linter (finds errors)
      - id: ruff
        args: [ --fix ]
      # This hook runs the formatter (fixes spacing/style)
      - id: ruff-format
